{% extends 'SlashxAdminBundle::layout.html.twig' %}

{% block block_title %}
GESTION DES TYPES 
{% endblock %}

{% block sub_main %}
    <h1>Type</h1>

    <form action="{{ path('typage_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
      <div class="element">
	        {{ form_label(edit_form.lieuConservation, 'Lieu de conservation') }}
	        {{ form_errors(edit_form.lieuConservation) }}
	        {{ form_widget(edit_form.lieuConservation,{ 'attr': {'class': 'text'} }) }}
	    </div>
	    
	    <div class="element">
	        {{ form_label(edit_form.localite) }}
	        {{ form_errors(edit_form.localite) }}
	        {{ form_widget(edit_form.localite,{ 'attr': {'class': 'text'} }) }}
	    </div>

	    <div class="element">
	        {{ form_label(edit_form.categorie) }}
	        {{ form_errors(edit_form.categorie) }}
	        {{ form_widget(edit_form.categorie,{ 'attr': {'class': 'text'} }) }}
	    </div>
	    
	    	    <div class="element">
	        {{ form_label(edit_form.sexe) }}
	        {{ form_errors(edit_form.sexe) }}
	        {{ form_widget(edit_form.sexe,{ 'attr': {'class': 'text'} }) }}
	    </div>

	    <div class="element" style='display:none'>
	        {{ form_label(edit_form.papillon) }}
	        {{ form_errors(edit_form.papillon) }}
	        {{ form_widget(edit_form.papillon) }}
	    </div>
	    
	    <div class='left_area'>
	    	 <div class="element" >
		        {{ form_label(edit_form.file,'Photo') }}
		        {{ form_errors(edit_form.file) }}
		        {{ form_widget(edit_form.file) }}
	    	</div>
	    </div>
	    
	    <div class='right_area'>
	    	<div class="element">
		       	{% if entity.picture %}
	    			<img src="{{ asset(entity.getWebPath()) }}" width="60px"/>
				{% else %}
				    Pas d'image !
				{% endif %}
	    	</div>
	    </div>
	    
	   <div class='clear_area'></div>
	    
	    
	     {{ form_widget(edit_form) }}
	     
	     
	     <p class="record_actions">
            <button class='button add' type="submit">Modifier</button>
            <a class='button cancel' href="{{ path('publication', { 'id':papillon_id }) }}">
            	Retourner à la liste des types
        	</a>

        </p>
    </form>
    
            	<form action="{{ path('typage_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>

    
{% endblock %}
