{% extends 'SlashxAdminBundle::layout.html.twig' %}

{% block block_title %}
GESTION DES TYPES
{% endblock %}

{% block sub_main %}
    <h1>Nom du papillon : " {{ papillon.nom }} "</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Lieu de conservation</th>
                <th>Localite</th>
                <th>Categorie</th>
                <th>Sexe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.lieuConservation }}</td>
                <td>{{ entity.localite }}</td>
                <td>{{ entity.categorie }}</td>
                <td>{{ entity.sexe }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('typage_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <p class="records_list">
            <a class="button add" href="{{ path('typage_new', { 'id': papillon.id }) }}" >
                Ajouter un nouveau type
            </a>
            <a class='button cancel' href="{{ path('papillon', { 'id':papillon.id }) }}">
	           Retourner à la liste des papillons
	        </a>
            </p>
       
     	<p>&nbsp;</p>
    {% endblock %}
