{% extends 'SlashxAdminBundle::layout.html.twig' %}

{% block block_title %}
GESTION DES TYPAGES 
{% endblock %}

{% block sub_main %}
    <h1>Publication edit</h1>

    <form action="{{ path('publication_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        <div class="element">
	        {{ form_label(edit_form.nom) }}
	        {{ form_errors(edit_form.nom) }}
	        {{ form_widget(edit_form.nom,{ 'attr': {'class': 'text'} }) }}
	    </div>
	    <div class="element">
	        {{ form_label(edit_form.auteur) }}
	        {{ form_errors(edit_form.auteur) }}
	        {{ form_widget(edit_form.auteur,{ 'attr': {'class': 'text'} }) }}
	    </div>	    
	   	<div class="element">
	        {{ form_label(edit_form.date) }}
	        {{ form_errors(edit_form.date) }}
	        {{ form_widget(edit_form.date) }}
	    </div>
	   	<div class="element">
	        {{ form_label(edit_form.reference) }}
	        {{ form_errors(edit_form.reference) }}
	        {{ form_widget(edit_form.reference,{ 'attr': {'class': 'TinyMCE'} }) }}
	    </div>
	    
	    <div class="element"> 
	     {{ form_rest(edit_form) }}
	    </div>
	    
        <p class="record_actions">
            <button type="submit" class='add'>Modifier</button>
             <a class='cancel button' href="{{ path('publication', { 'id':papillon_id }) }}">
            Retourner à la liste des publications
        </a>
        </p>
    </form>

        
        <form action="{{ path('publication_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    
{% endblock %}
